@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;">Trivia Crack</h1>
    <p style="text-align:center"><a href="@Url.Action("Play","Home")" class="btn btn-primary btn-lg">Play</a></p>
</div>